<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-md-6 text-center">
                <h4 class="text-primary">Online Booking Mall</h4>
                <h2>Đặt vé nhanh, dễ dàng</h2>
            </div>
            <div class="col-md-6 card p-3 shadow-lg" style="width: 21rem;">
                <form action="/req/ResetPassword" method="post">
                    <div class="mb-3">
                        <label for="token">Mã xác nhận:</label>
                        <input type="text" id="token" name="token" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Password</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="fa-solid fa-key"></i>
                            </span>
                            <input type="password" id="newPassword" class="form-control" name="newPassword" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary d-grid gap-2 col-10 mx-auto">Đặt lại mật khẩu</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and Popper -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.min.js"></script>

</body>
</html>